{{#if submitted}}
    {{#if message}}
        <p><b> {{message}} </b></p>
    {{else}}
        <p><b> Sikeres regisztráció. <a href="/api/users/login">Ide</a> kattintva tudsz bejelentkezni. </b></p>
    {{/if}}
{{/if}}
