<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8"/>
    <title>Regisztráció</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="container">
<form action="/api/users/registerdata" method="POST" enctype="multipart/form-data">
    <label for="email">E-mail cím:</label>
    <input type="email" id="email" name="email" size="50" value="{{email}}" required></textarea><br/><br/>
    <label for="username">Felhasználónév:</label>
    <input type="text" id="username" name="username" size="30" value="{{username}}" required></textarea><br/><br/>
    <label for="role"> Státusz: </label>
    <select id="role" name="role">
        <option id="student"> Tanuló </option>
        <option id="admin"> Tanár </option>
    </select></br></br>
    <label for="password">Jelszó:</label>
    <input type="password" id="password" name="password" required><br/><br/>
    <label for="password2">Jelszó újra:</label>
    <input type="password" id="password2" name="password2" required><br/><br/>
    <input type="submit" value="Regisztrálok">
</form>

{{> signupmessage}}
</div>

</body>

</html>