<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8"/>
    <title>Bejelentkezés</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="container">
<form action="/api/users/logindata" method="POST" enctype="multipart/form-data">
    <label for="username">Felhasználónév:</label>
    <input type="text" id="username" name="username" size="30"  value="{{username}}" required></textarea><br/><br/>
    <label for="password">Jelszó:</label>
    <input type="password" id="password" name="password" required><br/><br/>
    <input type="submit">
</form>

{{> signinmessage}}
</div>

</body>

</html>