<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8"/>
    <title>Új tantárgy létrehozása</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

{{> loggeduser }}

<div class="container">
<form action="/api/subjects/addsubject" method="POST" enctype="multipart/form-data">
    <label for="subjectcode">Kód:</label>
    <input type="text" name="subjectcode" id="subjectcode" size="30" required><br/><br/>
    <label for="subjectdescription">Leírás:</label>
    <textarea id="subjectdescription" name="subjectdescription" rows="3" cols="50" required></textarea><br/><br/>
    <input type="submit">
</form>
</div>

</body>

</html>