body {
  background-color: gainsboro;
}
  
.container {
  background-color: lavender;
  text-align: left; 
  padding: 5%;
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 20px;
}

.userdata_container {
  background-color: white;
  text-align: center;
  padding: 1%;
  margin-right: 80%;
  border-radius: 20px;
}

  